package main

import (
    "{{.Name}}/pkg/config"
	"fmt"
	"github.com/puppetlabs/go-libs/pkg/service"
	"github.com/sirupsen/logrus"
)

func runService() error {
	//Setup config and marshal in
	serviceCfg, err := config.GetConfig()
	if err != nil {
		return fmt.Errorf("unable to get queryService config: %s", err)
	}

	queryService, err := service.NewService(serviceCfg)
	if err != nil {
		return fmt.Errorf("unable to setup queryService: %s", err)
	}

	return queryService.Run()
}

func main() {

	if err := runService(); err != nil {
		logrus.Fatalf("%s", err)
	}
	logrus.Info("Query Service Stopped")
}
