name: Code Checks

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Go environment
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.4
      - name: Run linters
        uses: golangci/golangci-lint-action@v8
        with:
          args: "--timeout=3m --verbose"
          version: v1.64.8
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Go environment
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.4
      - name: Run unit tests
        run: |
          make test
